.Pontuacao {
    display: flex;
    color: #fff;
    font-size: 25px;
    justify-content: space-between;
    margin-top: 26px;
    font-weight: 100;
  }
  .Pontuacao div {
    width: 150px;
    text-align: center;
    line-height: 35px;
  }
  
  @media (max-width: 700px) {
    .Pontuacao {
      font-size: 22px;
    }
    .Pontuacao div {
      width: 100px;
    }
  }